{% include "components/head.html" %}
<div class="text-sm breadcrumbs m-10">
  <ul>
    <li><a href="./login_user_page.php">Login</a></li> 
    <li><a href="./create_user_page.php">Cadastro</a></li>
  </ul>
</div>
<h1 class="text-2xl text-center m-10 font-bold">{{ title }}</h1>

</p>

{% if Erro == true %}
<div class="toast toast-and toast-top">
<div class="alert alert-erro">
  <div>
    <span>{{Erro}}</span>
  </div>
</div>
</div>
{% endif %}
<form
  class="flex gap-5 flex-col items-start text-white border rounded-md w-fit m-auto min-m-[500px] p-5"
  action="./create_user_controller.php"
  method="POST"
>
  <label for="">Name</label>
  <input
    name="name"
    placeholder="John Doe" class="input input-bordered input-accent w-full max-w-xs"
    type="text"
  />
  <label for="">Email</label>
  <input
    placeholder="John@Doe.com"
    name="email" class="input input-bordered input-accent w-full max-w-xs"
    type="email"
  />
  <label for="">Password</label>
  <input
    name="password"
    placeholder="your password" class="input input-bordered input-accent w-full max-w-xs"
    type="password"
  />
  <button class="bg-indigo-500 p-3">Save</button>
</form>

{% include "components/foot.html" %}
