{% include "components/head.html" %}
<h1 class="text-2xl text-center m-10 font-bold">{{ title }}</h1>
<p>{{Erro}}</p>

<p class="m-10"><a class="text-green-500" href="/">Home</a>/Login</p>
<form
  class="flex gap-5 flex-col bg-sky-500 text-white w-3/5 m-auto min-m-[500px] p-5 roudend-sm"
  action="./login_user_controller.php"
  method="POST"
>
  <label for="">Email</label>
  <input
    name="email"
    placeholder="example@example.com"
    class="p-3 text-black"
    type="email"
  />
  <label for="">Password</label>
  <input
    name="password"
    placeholder="your password"
    class="p-3 text-black"
    type="password"
  />
  <button class="bg-indigo-500 p-3">Login</button>
</form>

{% include "components/foot.html" %}
