{% include "components/head.html" %}

<h1 class="text-2xl text-center m-10 font-bold">{{ title }}</h1>
<div class="text-center">
  <a href="./home_page.php" class="text-blue-500 hover:text-blue-700 font-bold"
    >Home</a
  >
  / List Files
</div>

<div class="flex items-center justify-center m-10">
  <form action="./view_file_page.php" method="post">
    <input
      type="text"
      name="search"
      class="flex-grow px-4 py-2 mr-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300"
      placeholder="Search your file"
    />
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded-md"
    >
      Go
    </button>
  </form>
</div>
<div class="flex justify-center">
  <table class="text-center border w-full max-w-xl">
    <thead class="border text-center">
      <tr>
        <th class="py-2">Date</th>
        <th class="py-2">FIle</th>
        <th class="py-2 px-4">Actions</th>
      </tr>
    </thead>
    <tbody class="border">
      {% for file in files %}
      <tr class="border">
        <td class="py-2">{{ file['created_at'] }}</td>
        <td class="py-2">
          <a href="{{ file['path'] }}" class="text-blue-500 hover:underline">
            {{ file['name'] }}
          </a>
        </td>
        <td class="py-2">
          {% if file['can_delete'] == 1 %}
          <a
            class="bg-red-400 text-white px-2 py-1 rounded"
            href="./delete_file.php?id={{ file['id'] }}"
          >
            Delete
          </a>
          {% endif %} {% if file['can_edit'] == 1 %}
          <a
            class="bg-green-400 text-white px-2 py-1 rounded"
            href="./delete_file.php?id={{ file['id'] }}"
          >
            Edit
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include "components/foot.html" %}
